<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px">Número:</td>
                <td>$pedido.id</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>$pedido.cliente.nome</td>
            </tr>
            <tr>
                <td>Valor total:</td>
                <td><span style="color:#FF0000; font-size:18px">$numberTool.format("¤ #0.00", $pedido.valorTotal, $locale)</span></td>
            </tr>
        </table>
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
                <th width="101">Código Barra</th>
                <th width="60%">Produto</th>
                <th width="101">Valor unitário</th>
                <th width="101" align=center>Quantidade</th>
                <th width="101">Valor total</th>
            </tr>
            #foreach ($item in $pedido.itens)
            	#if ($item.produto.id)
	            <tr>
	                <td>$item.produto.codigoBarra</td>
	                <td>$item.produto.nome</td>
	                <td align=right>$numberTool.format("¤ #0.00", $item.produto.vlrVenda, $locale)</td>
	                <td align=center>$item.quantidade</td>
	                <td align=right>$numberTool.format("¤ #0.00", $item.valorTotal, $locale)</td>
	            </tr>
	            #end
            #end
        </table>
    </body>
</html>